.headerNavbar {
  position: relative;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 2px 30px rgba(43, 43, 43, 0.2);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  display: flex;
  justify-content: space-evenly;
  margin-top: -120px;
  padding: 5px;
  transition: 1s;
}

ul {
  list-style: none;
  display: flex;
}

li {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 50px;
  font-family: Montserrat;
  font-weight: normal;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}

li:hover {
  font-size: 1.3rem;
  color: #aaa;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
}

.Projects.exiting {
  opacity: 0;
}

.Projects.entering {
  opacity: 1;
}

.Projects img {
  width: 100%;
  height: auto;
}

li:not(.selected) {
  filter: blur(2px);
}

.title_mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .headerNavbar {
    display: none;
  }
  .Projects {
    margin-top: 650px;
    display: block;
    flex-direction: column;
    column-count: 1;
  }
  .title_mobile {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 60px 0 -600px 0;
  }
}
